@import '../../style/breakpoints.scss';
@import '../../style/mixins.scss';

// This is the other side of our Sidebar...holds the tweet and tweetbox
.web-area{
    
    position: static;
    
    // top: 17%; 
    // right: 0;
    // @include sm(){
    //     left: 9%; 
    // }
    // @include md(){
    //     left: 14%; 
    // }
    // @include lg(){
    //     left: 17%; 
    // }
    top: 20%;
    bottom: 0;
    // height: 100vh;
    height: 100%;
    
}

.header{
    img{
        background-size: cover;
        width: 100%;
        height: 27em;
    }
    .display{
        margin-top: -0.3em;
        display: flex;
        flex-direction: row;
        
        height: 15rem;
        

        .box{
            &:nth-child(2n){
                background-color: #EA7166;
            }

            &:nth-child(2n-1){
                background-color: #2787EA;
            }
            
            border: 2px solid black;
            width: 25%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            .innerBoxTop{
                margin-top: 1em;
                height: 40%;
                width: 70%;
                img{
                    height: 100%;
                }
            }
            .innerBoxBot{
                height: 60%;
                margin-top: 2em;
                span{
                    
                    font-size: 180%;
                    color: #FFF;
                    font-weight: bold;
                    -webkit-text-stroke: 1px #000;
                    
                    
                }
            }
            
        }

    }

    .announce{
        border: 3px solid black;
        border-top: 0;
        width: 100%;
        background-color: #e6e2dd;
        padding: 1em;
        font-size: 1.2em;
        font-weight: bolder;
        -webkit-text-stroke: 0.5px #000;
        h2{   
            color: white;
        }
    }

    .text{
        border: 3px solid black;
        border-top: 0;
        background-color: #D48166;
        p{
            padding: 0.9em;
            color: white;
            font-size: 1.2em;
        }
    }


    
}
