@import '../../style/breakpoints.scss';
@import '../../style/mixins.scss';

// This is the other side of our Sidebar...holds the tweet and tweetbox
.web-area{
    
    position: static;
    
    // top: 17%; 
    // right: 0;
    // @include sm(){
    //     left: 9%; 
    // }
    // @include md(){
    //     left: 14%; 
    // }
    // @include lg(){
    //     left: 17%; 
    // }
    top: 20%;
    bottom: 0;
    height: 100vh;
    
    

    // * Display this if no tweets are present :: otherwise we will display tweets
    .no-tweets-msg{
        margin-top: 6rem;
        color: var(--text-light-color);
        text-align: center;
        h2 {
            font-size: 3rem;
        }
        
        a{
            @include btn();
            margin-top: 2rem;
            color: var(--text-dark-color);
            background: var(--light-color);
            display: inline-block;

            &:hover{
                text-decoration: unset;
            }
        }
    }
}

.header{
    img{
        background-size: cover;
        width: 100%;
        height: 25em;
    }
    .campus_announcements_header{
        border: 2px solid black;
        h2{
            font-size: 2em;
            background-color: gray;
            color: white;
            padding: 0.5em;                
        }
    }
    .campus_text{
        padding: 0.5em;
        font-size: 2em;
        border: 1px solid black;
        ul{
            margin-left: 2em;
        }
        
    }
    b{
        text-decoration: underline;
    }
}
