// > This is the component @ /courses/120
@import '../../../../style/breakpoints.scss';
@import '../../../../style/mixins.scss';

.student-module{

    
    margin: 0 1rem 0 1rem;
    h3{
        font-size: 0.9rem;
    }
    h4{
        margin-top: .5em;
        font-weight: 200;
        text-decoration: underline;
    }
    button{
        @include btn();   
        background-color: aqua;
        margin: 1em 0 2em 0;
    }
}