@import './variables.scss';
@import './mixins.scss';


// * EVERYTHING
*{
    // background-color: #fffafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// * The entire webpage
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// * App.js contains .container
.container{

}

// * Reset the button styles
button{
    border: unset;
    background: unset;
    font: unset;
    color: unset;
    cursor: pointer;
}

a{
    color: unset;
    text-decoration: unset;
    @include link();
}

input, textarea {
    border: unset;
    color: unset;
    background: unset;
    font: unset;
}