@import '../../../style/breakpoints.scss';
@import '../../../style/mixins.scss';

.classDisplay{
    .noCourses{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        
        
        
        
        .link-style-solo{
            border: 1px solid black;
            
            background: #1DCAFF;
            color: #FFF;
            
            padding: 1em;
            border-radius: 2em;
            
            margin-left: 2%;
            font-size: 2em;
            transition: color ease-in 0.1s, background-color ease-in 0.1s;
            &:hover{
                text-decoration: none;
                color: #331800;
                background-color: #FF4705;
            }
            
        }
        
    }

    .link-style{
        
        margin-left: 2em;
        color: black;
        border: 1px solid black;
        padding: 0.5em;
        border-radius: 20px;
        text-decoration: none;
        background-color: #1DCAFF;
        color: white;
        &:hover{
            background-color: #E23500;
            color: black;
        }
    }
}
