@import '../../style/mixins.scss';

.edit-form{
    position: fixed;
    
    top: 0;
    bottom: 0; 
    left: 0; 
    
    
    
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    // visibility: visible;
    top: 5em;

    .edit-box{
        position: relative;
        padding: 32px;
        width: 100%;
        max-width: 640px;
        background-color: #FFF
    }
    button{
        @include btn();
    }
}