@import '../../style/mixins.scss';
@import '../../style/breakpoints.scss';

// ? Holds the entire CSS
.entire-sidebar{
    // Position the sidebar
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    border-right:1px solid gray;

    // * Annotate for other sizes
    @include sm(){
        // Size for a small sidebar
        width: 9%;
        height: 100vh;    
        justify-content: space-between;

        // Home, Profile, and Tweet
        .sidebar-interactive{
            height: 15%;
            font-size: 1.9em;
            span{
                display: none;
            }
            .icons{
                img{
                    width: 100%;
                }
                .home-btn{
                    margin-top: 0.4em;
                    
                }
                .profile-btn{
                    margin-top: 1em;
                }
            }
        }

        // Authlist(Sign up/Sign in) div section
        .sidebar-authlist{
            font-size: 0.6em;
            text-decoration: none;

            .log-in-section{
                .register-area{
                    
                    @include sidebar-btn();
                    
                }

                .login-area{
                    @include sidebar-btn();
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }
            }


            .log-out-section{
                .mini-pfp{
                    img{
                        width: 100%;
                        border-radius: 20px;
                        border: 1px gray solid;
                    }
                }

                .mini-user-info{

                    .username-section{
                        width: 100%;
                        margin-top: 0.4em;
                        span{
                            // Font changes with screen size now
                            font-size: 1.9vw;
                            color: gray;
                        }
                    }
                    .mini-logout{
                        button{
                            border-radius: 5px;
                            border: 1px gray solid;
                            padding: 0.5em;
                            margin-top: 0.5em;
                            background-color: #1d9bf0;
                            color: white;
                            width: 100%;
                            &:hover{
                                box-shadow: var(--box-shadow);
                                background-color: red;
                                color: black;
                            }
                        }
                    }
                }
                // Give it space to breath :)
                padding: 0 0.2em 0 0.2em;

                margin-bottom: 1em;
            }
        }
    }
    // > End of small settings


    
    @include md(){
        width: 14%;
        height: 100vh;    
        font-size: 0.6em;
        justify-content: space-between;

        // Home, Profile, and Tweet
        .sidebar-interactive{
            .icons{
                .home-btn{
                    font-size: 2.1vw;
                    margin-top: 0.4em;
                    
                }
                .profile-btn{
                    font-size: 2.1vw;
                    margin-top: 1em;
                }
                .blackboard-btn{
                    font-size: 1.7vw;
                    margin-top: 1em;
                }
            }
        }

        // Authlist(Sign up/Sign in) div section
        .sidebar-authlist{
            text-decoration: none;

            .log-in-section{
                .register-area{
                    
                    @include sidebar-btn();
                    
                }

                .login-area{
                    @include sidebar-btn();
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }
            }


            .log-out-section{
                .mini-pfp{
                    img{
                        width: 100%;
                        border-radius: 50px;
                        border: 1px gray solid;
                    }
                }

                .mini-user-info{
                    .username-section{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-top: 0.4em;
                        span{
                            // Font changes with screen size now
                            color: gray;
                            font-size: 1.9vw;
                        }
                    }
                    .mini-logout{
                        button{
                            border-radius: 5px;
                            border: 1px gray solid;
                            padding: 0.5em;
                            margin-top: 0.5em;
                            background-color: #1d9bf0;
                            color: white;
                            width: 100%;
                            &:hover{
                                box-shadow: var(--box-shadow);
                                background-color: red;
                                color: black;
                            }
                        }
                    }
                }
                // Give it space to breath :)
                padding: 0 0.2em 0 0.2em;

                margin-bottom: 1em;
            }
        }
    }

    @include lg(){
        font-size: 0.6em;
        width: 17%;
        height: 100vh;    
        justify-content: space-between;

        // Home, Profile, and Tweet
        .sidebar-interactive{
            .icons{
                .home-btn{
                    font-size: 2.3vw;
                    margin-top: 0.4em;
                    
                }
                .profile-btn{
                    font-size: 2.3vw;
                    margin-top: 1em;
                }
                .blackboard-btn{
                    font-size: 1.9vw;
                    margin-top: 1em;
                }
            }
        }

        // Authlist(Sign up/Sign in) div section
        .sidebar-authlist{
            font-size: 0.6em;
            text-decoration: none;

            .log-in-section{
                .register-area{
                    
                    @include sidebar-btn();
                    
                }

                .login-area{
                    @include sidebar-btn();
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }
            }


            .log-out-section{
                .mini-pfp{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 100%;
                        border-radius: 50px;
                        border: 1px gray solid;
                    }
                }

                .mini-user-info{
                    .username-section{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-top: 0.4em;
                        span{
                            // Font changes with screen size now
                            color: gray;
                            font-size: 1.9vw;
                        }
                    }
                    .mini-logout{
                        button{
                            border-radius: 5px;
                            border: 1px gray solid;
                            padding: 0.5em;
                            margin-top: 0.5em;
                            background-color: #1d9bf0;
                            color: white;
                            width: 100%;
                            &:hover{
                                box-shadow: var(--box-shadow);
                                background-color: red;
                                color: black;
                            }
                        }
                    }
                }
                // Give it space to breath :)
                padding: 0 0.2em 0 0.2em;

                margin-bottom: 1em;
            }
        }
    }
}