@import '../../style/mixins.scss';
@import '../../style/breakpoints.scss';

// ? Holds the entire CSS
.entire-sidebar{
    // Position the sidebar
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    
    
    border-bottom: 1px solid black;
    background-color: white;
    height: 8em;

    // ? breakpoints.scss
    @include sm(){
        font-size: 0.3em;
       // Home, Profile, and Tweet
       .sidebar-interactive{
        width: 80%;
        .icons{
            display: flex;
            flex-direction: row;    
            justify-content: space-between;
            margin-top: 1.2em;

            .homeBtn{
                margin-left: 0.7rem;
                font-size: 3vw;
                color: black;
                &:hover{
                    text-decoration: none;
                    border-radius: 5em;
                    background-color: #1DCAFF;
                    color: white;
                }
                
                
            }
            .profileBtn{
                color: black;
                font-size: 3vw;
                &:hover{
                    text-decoration: none;
                    border-radius: 5em;
                    background-color: #1DCAFF;
                    color: white;
                }
                
            }
            .blackboardBtn{
                margin-right: 0.7rem;
                color: black;
                font-size: 3vw;
                &:hover{
                    text-decoration: none;
                    border-radius: 5em;
                    background-color: #1DCAFF;
                    color: white;
                }
                
            }
        }
    }

    // Authlist(Sign up/Sign in) div section
    .sidebar-authlist{
        width: 20%;
        font-size: 0.6em;
        text-decoration: none;

        .log-in-section{
            .register-area{
                
                @include sidebar-btn();
                
            }

            .login-area{
                @include sidebar-btn();
                margin-top: 0.5em;
                margin-bottom: 1em;
            }
        }


        .log-out-section{
            height: 100%;
            
            .mini-user-info{
                display: flex;
                flex-direction: column;
                
                

                .username-section{
                    display: flex;
                    justify-content: center;
                    span{
                        // Font changes with screen size now
                        color: black;
                        padding: 0.4em 0.4em 0.4em 0.4em;
                        font-size: 1.9vw;
                    }
                }
                .mini-logout{
                    display: flex;
                    justify-content: center;
                    button{
                        border-radius: 5px;
                        border: 1px gray solid;
                        padding: 0.5em;
                        margin-top: 0.5em;
                        background-color: #1d9bf0;
                        color: white;
                        width: 80%;
                        &:hover{
                            box-shadow: var(--box-shadow);
                            background-color: red;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

    @include md(){
        font-size: 0.45em;

        // Home, Profile, and Tweet
        .sidebar-interactive{
            width: 80%;
            .icons{
                display: flex;
                flex-direction: row;    
                justify-content: space-between;
                margin-top: 2em;

                .homeBtn{
                    margin-left: 0.7rem;
                    font-size: 3.3vw;
                    color: black;
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                    
                }
                .profileBtn{
                    color: black;
                    font-size: 3.3vw;
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
                .blackboardBtn{
                    margin-right: 0.7rem;
                    color: black;
                    font-size: 3.3vw;
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
            }
        }

        // Authlist(Sign up/Sign in) div section
        .sidebar-authlist{
            width: 20%;
            font-size: 0.6em;
            text-decoration: none;

            .log-in-section{
                .register-area{
                    
                    @include sidebar-btn();
                    
                }

                .login-area{
                    @include sidebar-btn();
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }
            }


            .log-out-section{
                height: 100%;
                
                .mini-user-info{
                    display: flex;
                    flex-direction: column;
                    
                    

                    .username-section{
                        display: flex;
                        justify-content: center;
                        span{
                            // Font changes with screen size now
                            color: black;
                            padding: 0.4em 0.4em 0.4em 0.4em;
                            font-size: 1.9vw;
                        }
                    }
                    .mini-logout{
                        display: flex;
                        justify-content: center;
                        button{
                            border-radius: 5px;
                            border: 1px gray solid;
                            padding: 0.5em;
                            margin-top: 0.5em;
                            background-color: #1d9bf0;
                            color: white;
                            width: 80%;
                            &:hover{
                                box-shadow: var(--box-shadow);
                                background-color: red;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    @include lg(){
        font-size: 0.6em;
        

        // Home, Profile, Blackboard
        .sidebar-interactive{            
            width: 80%;
            .icons{
                
                display: flex;
                flex-direction: row;    
                justify-content: space-between;
                margin-top: 1.5em;
                

                .homeBtn{
                    margin-left: 0.7rem;
                    font-size: 3.6vw;
                    color: black;
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                    
                }
                .profileBtn{
                    color: black;
                    font-size: 3.6vw;
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
                .blackboardBtn{
                    margin-right: 0.7rem;
                    color: black;
                    font-size: 3.6vw;
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
            }
        }

        // Authlist(Sign up/Sign in) div section
        .sidebar-authlist{
            width: 20%;
            font-size: 0.6em;
            text-decoration: none;

            .log-in-section{
                .register-area{
                    
                    @include sidebar-btn();
                    
                }

                .login-area{
                    @include sidebar-btn();
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }
            }


            .log-out-section{
                height: 100%;
                
                .mini-user-info{
                    display: flex;
                    flex-direction: column;
                    
                    

                    .username-section{
                        display: flex;
                        justify-content: center;
                        span{
                            // Font changes with screen size now
                            color: black;
                            padding: 0.4em 0.4em 0.4em 0.4em;
                            font-size: 1.9vw;
                        }
                    }
                    .mini-logout{
                        display: flex;
                        justify-content: center;
                        button{
                            border-radius: 5px;
                            border: 1px gray solid;
                            padding: 0.5em;
                            margin-top: 0.5em;
                            background-color: #1d9bf0;
                            color: white;
                            width: 80%;
                            &:hover{
                                box-shadow: var(--box-shadow);
                                background-color: red;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}
