@import '../../style/mixins.scss';
@import '../../style/breakpoints.scss';

// ? Holds the entire CSS
.entire-sidebar{
    // Position the sidebar
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    
    
    border-bottom: 1px solid black;
    background-color: white;
    height: 8em;

    // ? breakpoints.scss
    @include sm(){
        font-size: 0.3em;
       // Home, Profile, and Tweet
       .sidebar-interactive{
        width: 80%;
        
        
        .icons{
            display: flex;
            flex-direction: row;    
            justify-content: space-between;

            .logoDiv{
                border-bottom: 1px solid #000;
                height: 8em;
                background-color: #1d9bf0;
                color: pink;
                .sruImg{
                    height: 100%;
                }
            }
            

            .homeBtn{
                margin: 2.9em 0 0 0;    
                color: black;
                display: inline-block;
                font-size: 0.8vw;
                transform: scale(3.5,4);
                &:hover{
                    text-decoration: none;
                    border-radius: 5em;
                    background-color: #1DCAFF;
                    color: white;
                }
                
                
            }
            .profileBtn{
                margin: 2.9em 0 0 0;    
                color: black;
                display: inline-block;
                font-size: 0.8vw;
                transform: scale(3.5,4);
                &:hover{
                    text-decoration: none;
                    border-radius: 5em;
                    background-color: #1DCAFF;
                    color: white;
                }
                
            }
            .blackboardBtn{
                margin: 2.9em 9em 0 0;    
                color: black;
                display: inline-block;
                font-size: 0.8vw;
                transform: scale(3.5,4);;
                &:hover{
                    text-decoration: none;
                    border-radius: 5em;
                    background-color: #1DCAFF;
                    color: white;
                }
                
            }
        }
    }

    // Authlist(Sign up/Sign in) div section
    .sidebar-authlist{
        width: 20%;
        font-size: 0.6em;
        text-decoration: none;

        .log-in-section{
            .register-area{
                
                @include sidebar-btn();
                
            }

            .login-area{
                @include sidebar-btn();
                margin-top: 0.5em;
                margin-bottom: 1em;
            }
        }


        .log-out-section{
            height: 100%;
            
            .mini-user-info{
                display: flex;
                flex-direction: column;
                
                

                .username-section{
                    display: flex;
                    justify-content: center;
                    span{
                        // Font changes with screen size now
                        color: black;
                        padding: 0.15em 0.15em 0.15em 0.15em;
                        font-size: 1.9vw;
                        font-weight: bold;
                    }
                }
                .mini-logout{
                    display: flex;
                    justify-content: center;
                    button{
                        border-radius: 5px;
                        border: 1px gray solid;
                        
                        
                        background-color: #1d9bf0;
                        color: white;
                        width: 55%;
                        height: 2em;
                        &:hover{
                            box-shadow: var(--box-shadow);
                            background-color: red;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

    @include md(){
        font-size: 0.45em;

        // Home, Profile, and Tweet
        .sidebar-interactive{
            width: 80%;
            .icons{
                display: flex;
                flex-direction: row;    
                justify-content: space-between;
                margin-top: 2em;
                
                .logoDiv{
                    margin-top: -2em;
                    border-bottom: 1px solid #000;
                    height: 8em;
                    background-color: #1d9bf0;
                    color: pink;
                    .sruImg{
                        height: 100%;
                    }
                }
                
                
                .homeBtn{
                    margin: 1.5em 0 0 0;    
                    color: black;
                    display: inline-block;
                    font-size: 0.8vw;
                    transform: scale(3.5,4);
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                    
                }
                .profileBtn{
                    margin: 1.5em 0 0 0;    
                    
                    color: black;
                    display: inline-block;
                    font-size: 0.8vw;
                    transform: scale(3.5,4);
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
                .blackboardBtn{
                    margin: 1.5em 9em 0 0;    
                    color: black;
                    display: inline-block;
                    font-size: 0.8vw;
                    transform: scale(3.5,4);
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
            }
        }

        // Authlist(Sign up/Sign in) div section
        .sidebar-authlist{
            width: 20%;
            font-size: 0.6em;
            text-decoration: none;

            .log-in-section{
                .register-area{
                    
                    @include sidebar-btn();
                    
                }

                .login-area{
                    @include sidebar-btn();
                    
                    
                }
            }


            .log-out-section{
                .mini-user-info{
                    display: flex;
                    flex-direction: column;
                    
                    .username-section{
                        display: flex;
                        justify-content: center;
                        span{
                            // Font changes with screen size now
                            color: black;
                            padding: 0.2em 0.2em 0.2em 0.2em;
                            font-size: 1.9vw;
                            font-weight: bold;
                        }
                    }
                    .mini-logout{
                        display: flex;
                        justify-content: center;
                        button{
                            border-radius: 5px;
                            border: 1px gray solid;
                            
                            background-color: #1d9bf0;
                            color: white;
                            width: 55%;
                            height: 3em;
                            &:hover{
                                box-shadow: var(--box-shadow);
                                background-color: red;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    @include lg(){
        font-size: 0.6em;
        

        // Home, Profile, Blackboard
        .sidebar-interactive{            
            width: 80%;
            .icons{
                
                display: flex;
                flex-direction: row;    
                justify-content: space-between;
                margin-top: 1.5em;
                
                .logoDiv{
                    margin-top: -1.5em;
                    border-bottom: 1px solid #000;
                    height: 8em;
                    background-color: #1d9bf0;
                    color: pink;
                    .sruImg{
                        height: 100%;
                    }
                }
                
                .homeBtnDiv{
                    height: 8em;

                    .homeBtn{
                        margin: 1.5em 0 0 0;
                        
                        font-size: 3.6vw;
                        color: black;
                        display: inline-block;
                        font-size: 100%;
                        transform: scale(3.5,4);

                        &:hover{
                            text-decoration: none;
                            border-radius: 5em;
                            background-color: #1DCAFF;
                            color: white;
                        }
                        
                        
                    }
                }
                .profileBtn{
                    margin: 1.5em 0 0 0;
                        
                        font-size: 3.6vw;
                        color: black;
                        display: inline-block;
                        font-size: 100%;
                        transform: scale(3.5,4);
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
                .blackboardBtn{
                    margin: 1.5em 9.5em 0 0;    
                    font-size: 3.6vw;
                    color: black;
                    display: inline-block;
                    font-size: 100%;
                    transform: scale(3.5,4);
                    &:hover{
                        text-decoration: none;
                        border-radius: 5em;
                        background-color: #1DCAFF;
                        color: white;
                    }
                    
                }
            }
        }

        // Authlist(Sign up/Sign in) div section
        .sidebar-authlist{
            
            width: 20%;
            font-size: 0.6em;
            text-decoration: none;

            .log-in-section{
                .register-area{
                    
                    @include sidebar-btn();
                    
                }

                .login-area{
                    @include sidebar-btn();
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }
            }


            .log-out-section{
                
                .mini-user-info{
                    display: flex;
                    flex-direction: column;
                    
                    
                    .username-section{
                        display: flex;
                        justify-content: center;
                        span{
                            // Font changes with screen size now
                            color: black;
                            padding: 0.2em 0.2em 0.2em 0.2em;
                            font-size: 1.9vw;
                            font-weight: bold;
                        }
                    }
                    .mini-logout{
                        display: flex;
                        justify-content: center;
                        button{
                            border-radius: 5px;
                            border: 1px gray solid;
                            
                            background-color: #1d9bf0;
                            color: white;
                            width: 55%;
                            height: 3.2em;
                            &:hover{
                                box-shadow: var(--box-shadow);
                                background-color: red;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}
