@import '../../style/mixins.scss';

.profile-section{
    background-color: #fffafa;
    position: sticky;
    top: 0;

    

    .profile-background-area{
        .profile-background-img{
            width: 100%;
            height: 15em;
            
        }
    }

    .profile-picture-section{
        // position: relative;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10.4rem;
        

        

        .profile-picture{
            position: relative;
            bottom: 4rem;
            border: 4px solid white;
            border-radius: 50%;
            width: 11rem;
            height: 11rem;
        }

        
            
        .edit-button{          
            position: relative;
            top: -3.3em;
            margin-left: 1.7em;
            border: 1px gray solid;
            margin-right: 2em;
            border-radius: 20px;
            padding: 0.2em;
            width: 7em;
            transition: background-color 0.1s ease-in;
            &:hover{
                background-color: gray;
            }
        }
        
    }

    .profile-info-section{
        border: 1px gray solid;
        border-top: none;
        border-right: none;
        border-left: none;
        
        .profile-name{
            margin-left: 2em;
            .name{
                position: relative;
                display: flex;
                margin-right: 1em;
                align-items: center;
                bottom: 1em;
                font-weight: bold;
                font-size: 2em;
                
            }
            
            span{
                display: flex;
                flex-direction: column;
                margin-top: 0.2em;
            }
            span:last-child{
                margin-bottom: 2%;
                color: rgb(165, 154, 154);
                margin-top: 0;
            }
        }
        .profile-text-section{
            h1{
                text-decoration: underline;
            }
            margin-left: 2em ;
            height: auto;
            background-color: #fffafa;

            .infoTitle{
                font-size: large;
                margin-right: 0.3em;
                display: inline-block;
                margin-top: 0.5em;
                color: black;
                font-weight: bold;
            }

            p:last-child{
                margin: 0.5em 0 0 0;
            }
        }

        .report-card{
            margin-top: 2em;
            margin-left: 2em ;
            height: auto;
            
            margin-bottom: 1em;
        }

        .follow-following-section{
            margin: 1em 0 1em 0;
            margin-left: 2em;
        }
    }
    
    .edit-form{
        position: fixed;
        top: 0;
        
        background-color: rgba(0, 0, 0, 0.2);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        
        .edit-box{
            position: relative;
            padding: 32px;
            width: 100%;
            max-width: 640px;
            border-radius: 10%;
            background-color: #FFF;
            
            .top-of-box{
                color: black;
                font-size: 2em;
                
                .x{
                    font-weight: bold;
                }

                .btn-submit{
                    color: white;
                    font-size: 0.7em;
                    background-color: black;
                    padding: 0.4em 0.8em 0.4em 0.8em;
                    border-radius: 1em;

                }

                p{
                    font-weight: bold;
                }

                display: flex;
                justify-content: space-between;
                
                span{
                    font-weight: bold;
                }
            }
        }

        .edit-form-display{
            .edit-username{
                @include editSpanStyle();
            }

            .edit-pfp{
                @include editSpanStyle();
            }

            .edit-banner{
                @include editSpanStyle();
            }

            .edit-pronouns{
                @include editSpanStyle();
            }
        }

        button{
            @include btn();
        }
    }
    
}